.aside {
  width: 300px;
  margin-left: 64px;
  margin-top: 40px;
  padding: 22px 21px 14px;
  background: #f8f8f8;
}

.head {
  font-weight: 700;
  font-size: 18px;
  padding: 0 0 8px 10px;
}

.company-list {
  padding: 0;
  margin: 0;
}

.company-list > li {
  padding: 5px 3px;
  line-height: 17px;
  vertical-align: middle;
  list-style: none;
}

.company-list > li > em {
  display: inline-block;
  width: 20px;
  margin-right: 10px;
  font-weight: 700;
  color: #94969b;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
}

.company-rank-title {
  margin-top: 4px;
  padding: 9px 0 8px;
  color: #94969b;
  font-size: 12px;
  letter-spacing: -0.5px;
  text-align: center;
}
